.latest {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.latest__title {
  padding-top: 2rem;
  font-size: 2.75rem;
  font-weight: 700;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1), hsla(0, 0%, 76%, 0.85));
  background-clip: text;
  color: transparent;
  text-align: center;
}

.latest__songContainer {
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .latest__title {
    font-size: 3.5rem;
  }
}
