.copyright {
  background-color: rgb(224, 224, 224);
  padding: 1.25rem 0;
}

.copyright__text {
  font-size: 0.8rem;
  text-align: center;
  color: rgba(83, 83, 83, 0.658);
}

@media only screen and (min-width: 768px) {
  .copyright__text {
    font-size: 0.9rem;
    text-align: left;
  }
}
