.disco {
  padding-bottom: 2rem;
  background-image: linear-gradient(
      180deg,
      #0b0b0b 0%,
      rgba(11, 11, 11, 0.5) 50%,
      #0b0b0b 100%
    ),
    url("/discBg.jpg");
  background-size: cover;
  background-position: center center;
}

.disco__title {
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
  padding-top: 7rem;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1), hsla(0, 0%, 76%, 0.85));
  background-clip: text;
  color: transparent;
}

.slider__wrapper {
  margin-top: 4.5rem;
}

@media only screen and (min-width: 768px) {
  .disco {
    padding-bottom: 5rem;
  }
  .disco__title {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .disco {
    padding-bottom: 7rem;
  }

  .disco__title {
    padding-top: 7rem;
  }
}
